@{
    ViewBag.Title = "Acceuil";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home/Index">Livres</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/AjouterLivre">Ajouter un livre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active pull-right"><a href="/Members/Logout">Déconnexion</a></li>
        </ul>
    </div>
</nav>

<div class="table table-hover">
    <label style="font-size: 300%">Liste De Livres</label>

    <table class="table">
        <tr>
            <th>
                <label>ISBN</label>
            </th>
            <th>
                <label>Auteur</label>
            </th>
            <th>
                <label>Titre</label>
            </th>
            <th>
                <label>Nombre de Pages</label>
            </th>
            <th>
                <label>Edition</label>
            </th>
            <th>
                <label>Année</label>
            </th>
            <th>
                <label>Langue</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Mots-Clés</label>
            </th>
        </tr>
        @foreach (var livre in ViewBag.listeLivre) {
            <tr>
                <td>
                    ${livre.isbm}
                </td>
                <td>
                    ${livre.author}
                </td>
                <td>
                    ${livre.title}
                </td>
                <td>
                    ${livre.nbPages}
                </td>
                <td>
                    ${livre.edition}
                </td>
                <td>
                    ${livre.year}
                </td>
                <td>
                    ${livre.language}
                </td>
                <td>
                    ${livre.description}
                </td>
                <td>
                    ${livre.keywords}
                </td>
            </tr>
        }
    </table>
</div>
