@{
    ViewBag.Title = "Connexion";
}
<div class="login-page">
    <div class="form">
        <form class="login-form" action="login" method="post">
        <input type="email" placeholder="Adresse courriel" name="email" required/>
        <input type="password" placeholder="Mot de passe" name="password" required/>
        <button type='submit'>Se connecter</button>
        <p class="message">Nouvel utilisateur? <a href="register">Cr&eacute;er un Compte</a></p>
        </form>
    </div>
</div>

